.fav {
    height: 150%;
    display: flex;
    justify-content: center;
    top: 150px;
    display: grid;
    grid-template-columns: repeat(3, minmax(400px, 1fr));
    margin: 0 auto;
}



.fav a {
    top: 150px;
    padding-top: 100px;
    
    text-decoration: none;
    left: 300px;
    
}

.soyo {
    display: block;
    padding-left: 300px;
    padding-top: 200px;

}

.soyo-logo {
    
    box-sizing: 100px, 100px;
}


.nomad_coder {
    display: flex;
    flex-direction:unset;
    box-sizing: border-box;
    padding-left: 300px;
    padding-top: 200px;
}

@media screen and (max-width: 1900px) {
    .fav a {
        right: initial;
        top: initial;
        bottom: 0px;
        width: 80%;
        display: grid;


  grid-auto-rows: 100px;
    }
}