.fav {
    height: 150%;
    display: flex;
    justify-content: center;
    top: 150px;
    display: grid;
    grid-template-columns: repeat(1, minmax(400px, 1fr));
    margin: 0 auto;
}



.fav a {
    top: 150px;
    padding-top: 100px;
    
    text-decoration: none;
    left: 300px; 
    display: flex;
    flex-direction: row;
    
}

.soyo {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding-left: 300px;
    padding-top: 200px;

}

.soyo img {
    width: 140px;
    height: 100px;
}


.nomad_coder {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding-left: 300px;
    padding-top: 20px;
    background-color: lightgray;
}

.nomad_coder img {
    width: 130px;
    height : 100px;
}

@media screen and (max-width: 1900px) {
    .fav a {
        right: initial;
        top: initial;
        bottom: 0px;
        width: 80%;
        display: grid;
    

  grid-auto-rows: 100px;
    }
}

@media screen and (max-width: 600px) {
    .nomad_coder {
        padding-left: 10px;
    }
}
@media screen and (max-width: 600px) {
    .soyo {
        padding-left: 10px;
    }
}