.nav {
    z-index: 1;
    position: fixed;
    text-align: center;
    display: flex;
    left: 40px;
    top: 70px;
    
    
    
    
    text-shadow: 0 30px 52px -7px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px , rgba(0, 0, 0, 0.025);
    border-radius: 5px;
    
}

@media screen and (max-width: 1090px) {
    .nav {
        left: initial;
        top: initial;
        bottom: 0px;
        width: 100%;
        
    }
}

.nav a {
    text-decoration: none;
    color: #0008fc;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    font-weight: 600;
    
    
}

.nav button {
    width: 150px;
    height: 70px;
    color: blue;
    background-color: lightcyan;
    border-color: blue;
    outline-color: purple;
    outline-style: none;
    padding-top: 0px;
    
}
.nav button:hover {
    width: 150px;
    height: 70px;
    color: blue;
    background-color: lightblue;
    border-color: blue;
    outline-color: purple;
    outline-style: none;
    
}

.nav a:not(:last-child) {
    margin-bottom: 20px;
}
